body {
    background-color: azure;
    padding-left: 5%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

table {
    background-color: coral;
    width: 50%;
    padding-bottom: 10px;
}

table tr td {
    color: black;
    padding: 5%;
}

.pad {
    padding: 10px;
}

.data-form {
    width: 100vw;
}

.data-form label {
    font-size: large;
    font-weight: bold;
    padding-right: 10px;
    display: table-cell;
}

.data-form button {
    background-color: aquamarine;
    border: none;
    padding: 10px;

}

.data-form input {
    background-color: black;
    color: white;
    border-radius: 5px;
    display: table-cell;
    width: 100%;
}

.data-form input:hover {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border-radius: 5px;
    display: table-cell;
    width: 100%;
}

.data-form .form-input {
    display: table-row;
}

/* .table-content {
    display: table-row;
} */

